= navbar fixed: :top do
  = navbar_collapse id: 'navigation' do
    = navbar_group class: 'foo', id: 'menu' do
      = navbar_dropdown "Stuff" do
        = navbar_dropdown_item "One", '/one'
        = navbar_dropdown_item "Two", '/two'
        - if true # check if user is admin, maybe like "if current_user.try(:admin?)"
          = navbar_dropdown_divider
          = navbar_item "Admin Dashboard", '/admin'
          = navbar_item "Users", '/admin/users'
    = navbar_group align: 'right' do
      - if current_user.present?
        = navbar_item "Log Out", destroy_user_session_path, nil, "data-method" => "delete"
      - else
        = navbar_item "Log In", '/users/sign_in'
